* {
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: 楷体;
}
body {
  overflow: auto;
  background-image: url(../images/bg.png);
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
/* 隐藏滚动条 */
/* ::-webkit-scrollbar {
  display: none;
} */
/* 清除浮动 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*导航栏*/
.topBar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  width: 100%;
  transition: all 0.5s;
  font-family: "Arial Black";
  z-index: 1;
  color: #9a9da2;
}
.sticky {
  background: white;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #3d4451;
}
.topBar-inner {
  padding: 0 8%;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #9a9da2;
}
.logo span:nth-child(1) {
  color: #007acc;
}
.menu {
  float: right;
  margin-right: 50px;
}
.menu ul li {
  float: left;
  margin: 0 17px;
  position: relative;
}
.menu ul li a {
  color: inherit;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  padding: 8px 0 5px;
  display: block;
  position: relative;
}
.menu ul li a:hover::after,
.menu ul li.hightlight a::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #007acc;
  height: 3px;
  animation: menuSlide 0.3s linear;
}
@keyframes menuSlide {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.banner {
  height: 515px;
  background-image: url(../images/banner.jpg);
  background-position: center center;
  background-size: cover;
}
.banner .mask {
  height: 515px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* 主体内容 */
main {
  margin-top: -300px;
}
[data-w].offset {
  transform: translateY(100px);
  opacity: 0;
}
[data-w] {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s;
}
.data {
  max-width: 940px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.pictureAndText {
  padding: 50px;
}
.pictureAndText .picture {
  float: left;
  width: 33%;
}
.pictureAndText .picture img {
  width: 100%;
  height: 341px;
}
.pictureAndText .text {
  float: left;
  margin-left: 5%;
  width: 500px;
  font-weight: bold;
}
.welcome {
  background: #007acc;
  color: white;
  padding: 8px 16px;
  position: relative;
  border-radius: 5px;
  top: 0px;
  left: 30px;
}
.welcome::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 4px;
  border: 10px solid transparent;
  border-left-color: #007acc;
  border-top-width: 0px;
}
.pictureAndText .text h4 {
  width: 200px;
  color: #3d4451;
  float: left;
  margin: 20px 40px 0 10px;
}
.pictureAndText .text h4:nth-child(11) {
  margin-bottom: 15px;
}
.pictureAndText .text p {
  font-size: 16px;
  color: #3d4451;
  line-height: 38px;
}
.pictureAndText .text hr {
  margin-bottom: 15px;
}
.pictureAndText .text .remind {
  color: orange;
}
.download {
  background: #efefef;
  width: 107px;
  margin: 40px auto;
  border: 1px solid #cdcfd1;
  padding: 25px 40px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
}
.download a {
  color: #3d4451;
}
.download:hover {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.5);
}
.title h2 {
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  font-weight: bold;
}
.skill {
  max-width: 1040px;
  margin: 0 auto;
}
.skill .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.skill .row svg {
  width: 3em;
  height: 3em;
  transition: all 0.5s;
}

.skill .row .column {
  width: 33%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #3d4451;
}

.skill .row .column .cir {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  padding-top: 26px;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.5);
}
.skill .row .column h2 {
  text-align: center;
  margin-top: 15px;
}
.skill .row .column .cir svg:hover {
  transform: rotate(360deg);
}

.skill .row .column span {
  display: block;
  text-align: center;
  margin: 15px 20px;
  font-weight: bold;
}
.project {
  max-width: 1140px;
  margin: 40px auto 20px;
}
.project .row {
  display: flex;
  flex-wrap: wrap;
}
.project .row .column {
  margin-left: 4%;
  max-width: 44%;
  margin-top: 40px;
  position: relative;
  color: #3d4451;
}
.project .row .column h1 {
  text-align: center;
}
.project .row .column img {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  height: 300px;
  cursor: pointer;
  transition: all 0.5s;
}
.project .row .column .special{
  /* display: inline-block; */
  width: 168px;
  margin: 0 auto;
}
.project .row .column ul {
  margin-top: 20px;
}
.project .row .column ul li {
  margin-bottom: 10px;
}
.project .row .column ul li a {
  color: orange;
  transition: all 0.3s;
}
.project .row .column ul li a:hover {
  color: blue;
}
.works {
  max-width: 1140px;
  margin: 80px auto 10px;
}
.contact {
  max-width: 1140px;
  margin: 40px auto;
}
.contact #text {
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  color: #3d4451;
}
.contact #text p {
  margin-top: 20px;
}
/* 无缝轮播 */

#play {
  border-radius: 20px;
  width: 800px;
  margin: 30px auto;
  border: 5px solid #cccccc;
  position: relative;
  padding: 10px;
}
#screen {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
#screen ul {
  list-style-type: none;
  position: relative;
}
#screen ul li {
  width: 800px;
  height: 450px;
  float: left;
}
#screen ul li a img {
  width: 100%;
  height: 450px;
}
#screen ol {
  list-style-type: none;
  position: absolute;
  bottom: 15px;
  right: 50%;
  transform: translateX(50%);
}
#screen ol li {
  float: left;
  width: 18px;
  height: 18px;
  line-height: 48px;
  background-color: #5f6368;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  color: #ffffff;
}
#screen ol li.highlight {
  background-color: orange;
}
#arr #left,
#arr #right {
  position: absolute;
  width: 60px;
  height: 80px;
  background-color: #98a0a2;
  opacity: 0.7;
  font-size: 70px;
  line-height: 70px;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
}
#arr #left {
  left: 20px;
}
#arr #right {
  right: 20px;
}
